<div>
    <label for="project_description">Project Description:</label><br>
    <textarea id="project_description" name="project_description">{{ meta.project_description }}</textarea>
</div>

<div>
    <label for="project_founded">Project Founded:</label><br>
    <input type="text" id="project_founded" name="project_founded" value="{{ meta.project_founded }}">
</div>